DB_NAME=

MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGOEXPRESS_LOGIN=
MONGOEXPRESS_PASSWORD=

SESSION_SECRET=
JWT_SECRET=

APP_SUPERADMIN_EMAIL=
APP_SUPERADMIN_PASSWORD=
APP_UPLOADS_PATH=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_CALLBACK=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK=

FRONT_URL=
PORT=
