<style>

    body{ font-family: arial;}
    input{   margin:5px 0; }
    
    
    </style>
    
    <h2>Авторизация</h2>
    
    <% if(user){%>
    
        <p>Привет, <%= user.name %></p>    
        <p>
            <a href="/auth/logout">выйти</a>
        </p>
    
    
    <% }else{%>
    
        <h3>Вход для зарегистрированных пользователей:</h3>
        <form action="/auth/signin" method="post">
            <div>
                <label>Логин (email):</label>
                <input type="text" name="email" /><br />
            </div>
            <div>
                <label>Пароль:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
        </form>
        <h3>Регистрация нового пользователя:</h3>
        <form action="/auth/signup" method="post">
            <div>
                <label>E-mail (обяз.):</label>
                <input type="text" name="email" /><br />
            </div>
            <div>
                <label>Фио:</label>
                <input type="text" name="name" /><br />
            </div>    
            <div>
                <label>Пароль (обяз.):</label>
                <input type="password" name="password" />
            </div>            
            <div>
                <label>Телефон:</label>
                <input type="text" name="contactPhone" />
            </div>    
            <div>
                <input type="submit" value="Зарегистрироваться" />
            </div>
        </form>
    
    <%} %>
     
    