/* --- YO-SLIDER (MAIN PAGE) --- */

.yoSlider{cursor: pointer; position: relative;}
.yoSlider svg{width: 100%;height: auto;}

.yoSliderContainer{    
    width: 100%;height:100%;;
    position: absolute;
    top:0;left:0;height: 100%;width: 100%;
    overflow: hidden;
    border-radius: 20px;    
    border:1px solid gray;
}
.yoSliderContainer>div{
    position: absolute;
    top:0;left:0;height: 100%;width: 100%;        
    border-radius: 20px;
    background-color: white;
}


.yoSliderContainer>div:nth-child(1){        
    transform: translate(0, 0); 
    background: white;
}
.yoSliderContainer>div:nth-child(2){    
    transform: translate(30%, 0);
    background: #c8c8c8;
}
.yoSliderContainer>div:nth-child(3){    
    transform: translate(60%, 0);
    background: var(--link-color);    
}
.yoSliderContainer>div:nth-child(3) h1{ color:white; }
.yoSliderContainer>div:nth-child(3) .title{ color:white !important;}

.yoSliderContainer>div:nth-child(1) span{
    position: absolute;bottom:10%;left:5%;width: 130px;height:20px;
    background: url("../../../i/yo-ico-arrow-1.svg") repeat-x center / 100% auto;
}
.yoSliderContainer>div:nth-child(2) span{
    position: absolute;bottom:10%;left:5%;width: 130px;height:20px;
    background: url("../../../i/yo-ico-arrow-2.svg") repeat-x center / 100% auto;
}
.yoSliderContainer>div:nth-child(3) span{
    position: absolute;bottom:10%;left:5%;width: 130px;height:20px;
    background: url("../../../i/yo-ico-arrow-3.svg") repeat-x 0 100% / 100% auto;
}

.yoSliderContainer>div:hover span{
    transition: .3s;
    background-position: 130px center;
}



.yoSliderContainer>div:hover{background-position: 8% 90% !important;transition: .3s;}