
.orderPage{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap:1rem 3rem;
}

.details{}


/* ----------------------------- 
    
   STARTED MOBILE MODE FROM HERE 

   ----------------------------- */

@media (max-width: 1023px) {
 
.orderPage{
  
  grid-template-columns: 1fr;
  gap:2rem 3rem;
}
 

}
