
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: .5rem;
}

.gallery div {
    background-color: gray;
    border-radius: 6px;
    height: 150px;
}


/* ----------------------------- 
    
   STARTED MOBILE MODE FROM HERE 

   ----------------------------- */

@media (max-width: 1023px) {

    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery div {
        height: 100px;
    }

}

