

.files{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


/* ----------------------------- 
    
   STARTED MOBILE MODE FROM HERE 

   ----------------------------- */

@media (max-width: 1023px) {
 

    .files{        
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .files img{height: 40px !important;}


}
