.cats ul{
    margin: 0;padding:0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
    text-align: center;
    align-content: center;    
    gap:1rem;    
}
.cats ul li{
    margin: 0;
    padding:0 3rem;
    background-color: var(--link-color);
    height: 130px;        
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 10px;    
}


/* ----------------------------- 
    
   STARTED MOBILE MODE FROM HERE 

   ----------------------------- */

@media (max-width: 1023px) {
 
  .cats ul{
    grid-template-columns: 1fr;gap:.5rem;   
  }
  .cats ul li{
    height: 50px;
  }

}
