
.portItem{cursor: pointer;}
.portItem > div{
  padding:.5rem;
  background-color: var(--superlight-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:.5rem;
  border-radius: 10px;  
}
.portItem div span{
  background-color: white;
  border-radius: 6px;
  height: 150px;
}


/* ----------------------------- 
    
   STARTED MOBILE MODE FROM HERE 

   ----------------------------- */

@media (max-width: 1023px) {
 
  .portItem > div{
    grid-template-columns: repeat(4, 1fr);
  }
  .portItem div span{
    height: 50px;
  }

}

